---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Pill from "../components/Pill.astro";
---

<BaseLayout title="About | Namuun Bayaraa" description="About Namuun Bayaraa">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About" />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Experienced product engineer & leader with 7+ years in designing and
            developing enterprise-level software. Proven track record in leading
            cross-functional teams, managing complex projects, and delivering
            high-impact solutions. Expertise in Agile methodologies, stakeholder
            communication, and end-to-end project management, combined with a
            deep understanding of frontend technologies and modern web
            development practices.
          </p>
          <p>
            When i'm not working, you can find me training for marathons or
            cooking up some elaborate recipe or baking a sourdough. I'm an avid
            adventurer, always finding time to explore new countries or trails.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            UC Berkeley, Bachelor of Science in Metabolic Biology (Nutrition)
          </p>
          <p>Dev Bootcamp Full Stack Web Development</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>Javascript, ReactJS, HTML/CSS, TailwindJS, NodeJS</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
