---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";

import NotionData from "../components/NotionData.astro";
---

<BaseLayout title="About | Namuun Bayaraa" description="About Namuun Bayaraa">
  <div class="stack gap-20">
    <main class="wrapper">
      <NotionData />
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
