---
/** Main menu items */
const textLinks: { label: string; href: string; target?: string }[] = [
  { label: "About", href: "/" },
  { label: "Work", href: "/work/" },
  { label: "Blog", href: "/blog/" },
  {
    label: "Resume",
    target: "_blank",
    href: "https://docs.google.com/document/d/1Q5MaxIze-C6Rif7gkuK4EdIEj6q4EKOP3uabhEQOQyM/edit?usp=sharing",
  },
];

/** Test if a link is pointing to the current page. */
const isCurrentPage = (href: string) => {
  let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
  if (pathname.at(0) !== "/") pathname = "/" + pathname;
  if (pathname.at(-1) !== "/") pathname += "/";
  return pathname === href || (href !== "/" && pathname.startsWith(href));
};
---

<nav>
  <div class="menu-header">
    <div>
      <a href="/" class="site-title"> Namuun Bayaraa </a>
    </div>
    <div id="menu-content">
      <ul class="nav-items">
        {
          textLinks.map(({ label, href, target }) => (
            <li>
              <a
                aria-current={isCurrentPage(href) ? "page" : null}
                target={target}
                class="link"
                href={href}
              >
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <style>
    nav {
      z-index: 9999;
      position: relative;
      font-family: var(--font-brand);
      font-weight: 500;
      margin-bottom: rem;
    }

    .menu-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }

    .site-title {
      gap: 0.5rem;
      align-items: center;
      font-size: var(--text-lg);
      line-height: 1.1;
      color: var(--gray-0);
      text-decoration: none;
    }

    .nav-items {
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      font-size: var(--text-sm);
      line-height: 1.2;
      list-style: none;
      padding: 2rem;
    }

    .link {
      display: inline-block;
      color: var(--gray-300);
      text-decoration: none;
    }

    .link[aria-current] {
      color: var(--gray-0);
    }

    @media (min-width: 50em) {
      nav {
        align-items: center;
        padding: 1rem 2rem;
      }

      .menu-header {
        padding: 0;
      }

      .nav-items {
        position: relative;
        flex-direction: row;
        font-size: var(--text-md);
        border: 0;
        padding: 0.5rem 0.5625rem;
      }

      .nav-items::before {
        position: absolute;
        inset: -1px;
        content: "";
        z-index: -1;
      }

      .link {
        padding: 0.5rem 1rem;
      }

      .link:hover,
      .link:focus {
        color: var(--gray-100);
      }
    }

    @media (forced-colors: active) {
      .link[aria-current="page"] {
        color: SelectedItem;
      }
    }
  </style>
</nav>
