---
import { queryDatabase } from "../notion";

// Fetch data in component
const data = await queryDatabase();
---

<div>
  {
    data.results && data.results.length > 0 ? (
      data.results?.map((page: any) => {
        const title =
          page.properties.Title?.title?.[0]?.plain_text || "No title";
        const description =
          page.properties.Description?.rich_text?.[0]?.plain_text ||
          "No description";
        const link = page.url || "No link";

        return (
          <div class="page-item">
            <h4>{title}</h4>
            <div>{description}</div>
            <div>
              Read More
              <a href={link}>here</a>
            </div>
          </div>
        );
      })
    ) : (
      <p class="no-posts">No blog posts found.</p>
    )
  }
</div>

<style>
  .page-item {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
  }

  .no-posts {
    text-align: center;
    padding: 2rem;
    color: #666;
  }
</style>
